<div class="card-group">

  {% for project in site.data.projects %}

  <a class="col-lg-4 p-2 text-decoration-none" href="{{ project.url }}">
    <div class="project preShow">

      {% assign icon_path =  project.name | slugify | prepend: 'icons/' | append: '.svg'  %}

      <div class="top">
        <div class="icon-container">{% include {{ icon_path }} %}</div>
        <h2 class="back title">{{ project.name }}</h2>
        <i class="back arrow fas fa-arrow-right"></i>
      </div>

      <div class="bottom">
        <h2 class="face title">{{ project.name }}</h2>
        <p class="face tagline">{{ project.tagline }}</p>
        <p class="back description">{{ project.description }}</p>
      </div>

      <div class="back bg-icon-container">{% include {{ icon_path }} %}</div> 

    </div>
  </a>

  {% endfor %}

</div>