<script src="assets/js/contributions.js"></script>
<script>
    fetchContributions(
        "{{ site.github.owner.login }}",
        (user) => {
            var el2 = document.getElementById("gh-rank");
            el2.innerText = `${user.ordinal_rank} Most Active GitHub User in Egypt`;
        }
    );
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.5/vivus.min.js"></script>
<script>
    new Vivus('identicon', {
        type: 'oneByOne',
        duration: 100,
        animTimingFunction: Vivus.EASE
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script> new WOW().init() </script>