body {
  background-color: $background;
  font-family: sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  &:hover {
    background: darken($primary, 15%);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: $primary;
}

.footer {
  background-color: $footer;
}

.social {
  fill: $footer-icons;
  margin: 4px;
  width: 21px;
  height: 21px;
  &:hover {
    fill: $primary;
  }
}
