body {
  background-color: $bg-color;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $primary;
}

.social {
  color: inherit;
  &:hover {
    color: $primary;
  }
}