.project {
  cursor: pointer;
  padding: 32px;
  height: 100%;
  position: relative;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
  will-change: transform;

  .face {
    opacity: 1;
  }

  .back {
    opacity: 0;
  }

  .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .icon {
      width: 32px;
      fill: $primary;
      transition: all 0.3s ease;
    }

    .arrow {
      display: block;
      position: absolute;
      right: 0;
      color: white;
      transform: translatex(-50%);
      transition: all 0.2s ease-in-out;
    }

    .title {
      font-weight: 600;
      margin-left: 12px;
      margin-top: 4px;
      font-size: 18px;
      color: white;
      transform: translatex(-8%);
      transition: all 0.2s ease-out;
    }
  }

  .bottom {
    position: relative;
    margin-top: 24px;

    .title {
      font-weight: 600;
      margin-top: 50px;
      margin-bottom: 20px;
      font-size: 18px;
      color: $dark-gray;
      transition: all 0.2s ease-out;

      &:before {
        display: block;
        width: 100%;
        height: 1px;
        position: relative;
        top: 30px;
        content: "";
        background-color: #d8dde6;
      }
    }

    .tagline {
      opacity: 0.7;
      font-size: 14px;
      color: $dark-gray;
      line-height: 21px;
      transition: all 0.2s ease-out;
    }

    .description {
      position: absolute;
      top: -24px;
      font-size: 13px;
      color: $light-cyan;
      line-height: 19px;
      transform: translateY(-10px);
      transition: all 0.2s ease-out;
    }
  }

  .bg-icon {
    position: absolute;
    top: -12.5%;
    left: -25%;
    height: 125%;
    z-index: -999;
    fill: $transparent-white;
    transform-origin: left;
    transform: scale(0.9);
    transition-delay: 0.3s;
    transition: all 0.4s ease;
  }

  &:hover {
    background-color: $primary;
    box-shadow: none;
    transform: scale3d(0.985, 0.985, 0.985) translateX(0);

    .back {
      opacity: 1 !important;
    }

    .face {
      opacity: 0 !important;
    }

    .top * {
      transform: translatex(0);
    }

    .bottom {
      .face {
        transform: translateY(16px);
      }
      .back {
        transform: translateY(0);
      }
    }

    .icon {
      fill: white;
    }

    .bg-icon {
      transform: scale(1);
    }
  }
}

.preShow {
  position: relative;
  opacity: 0;
  will-change: transform;
  transform: translateX(-30px);
  animation: preShow 1.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;

  &::before {
    content: "";
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f1f5fb;
    transform-origin: right;
    will-change: transform;
    animation-delay: 1s;
    animation: preShowMove 1.8s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@keyframes preShowMove {
  to {
    transform: scaleX(0);
  }
}

@keyframes preShow {
  0% {
    box-shadow: none;
  }

  60% {
    box-shadow: none;
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    box-shadow: 0 2px 4px 0 #ccd0d9;
  }
}
