.circle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 100%;
  box-shadow: $box-shadow;
  text-decoration: none;
  transition: all 0.3s;

  &::after {
    z-index: -5;
    content: "";
    width: inherit;
    height: inherit;
    background-color: $primary;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.3s ease;
  }

  svg {
    fill: $primary;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
  }

  &:hover {
    transition: border 0.6s;
    background-color: transparent;
    &::after {
      opacity: 1;
      transform: scale(1);
    }
    svg {
      fill: white;
    }
  }
}