$primary: #3973ff;

$footer: white;
$footer-icons: #212529;

$background: #f1f5fb;
$box-shadow: 0 2px 4px 0 #ccd0d9;

$card: white;
$card-separator: #d8dde6;
$card-front-text: #292f3a;
$card-back-text: #d5ddee;
$card-back-content: white;
$card-icon-opacity: .1;
