<head>

  <title>{{ site.github.owner.login }}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{ site.github.owner.login }}">
  <meta name="description" content="{{ site.github.owner.bio }}">

  <!-- Theme Color -->
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.github.url }}">
  <meta property="og:title" content="YoussefRaafatNasry">
  <meta property="og:description" content="{{ site.github.owner.bio }}">
  <meta property="og:image" content="{{ site.github.owner.avatar_url }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.github.url }}">
  <meta property="twitter:title" content="YoussefRaafatNasry">
  <meta property="twitter:description" content="{{ site.github.owner.bio }}">
  <meta property="twitter:image" content="{{ site.github.owner.avatar_url }}">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.github.owner.avatar_url }}" type="image/x-icon">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

</head>