.button {
  border: 1.6px solid white;
  padding: 12px 32px;
  margin-top: 16px;
  font-size: 12px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;

  &:hover {
    background-color: white;
    color: black;
  }
}
