.project {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    margin-bottom: 24px;
  }

  &__title {
    margin: auto 0;
  }

  &__icon {
    padding: 2px;
    margin-right: 12px;
    svg {
      fill: white;
      width: 24px;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 24px;
    @extend %hoverable;
  }

  &__tags {
    margin-top: auto;
    font-size: 12px;
    font-style: italic;
    font-family: monospace;

    &::before {
      content: "// ";
      font-style: normal;
    }
  }

  &:hover * {
    color: white;
  }
}
