.skill {
  &__title {
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    @extend %hoverable;
  }
}