.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 24px;

    @include min-width(md) {
      width: 70%;
    }
  }
}
