@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 300;
}

@include pseudo-element-selector(selection) {
  background: rgba(#ffffff, 0.99);
  color: black;
}
