@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}

h1 {
  line-height: 0.8;
  font-size: 64px;
  word-break: break-all;
}
